.tile {
  width: 30%;
  height: 150px;
  font-size: 60px;
  background:white;
  border: 8px solid black;
  display: inline-block;
  float: left;
  text-align: center;
  line-height: 150px;
}
.tile:nth-child(11), .tile:nth-child(10), .tile:nth-child(12) {
  border-bottom:  0px;
}
.tile:nth-child(4), .tile:nth-child(5), .tile:nth-child(6) {
  border-top:  0px;
}
.tile:nth-child(4), .tile:nth-child(7), .tile:nth-child(10){
  border-left:  0px;
}
.tile:nth-child(6), .tile:nth-child(9), .tile:nth-child(12){
  border-right:  0px;
}
 
p {
  margin: 0;
  padding: 0;
}

